<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title></title>
    </head>
    <body>
        <h1> Compras Semanais </h1>
        <button> Voltar </button>
        <br>
        <form method="">
            <input type="text" id="lista" name="lista" placeholder = "Novo item"> <button> Adicionar </button>
            <br><br>
        </form>
    <form method="">
        <ul>
            {% for item in items %}
            <li>
             {{ item.text }} 
             <button type= 'submit'> Concluido </button> 
             <button type= 'submit'> Excluir </button>
            </li>
            {% endfor %}
        <ul>
    </body>
</html>